{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "react/jsx-filename-extension": ["error", {"extensions": [".js"]}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["src/**/*.test.js", "setupTests.js"]}]
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
